.Landing {
  display: flex;
  // background: linear-gradient(to right, #70e1f5, #ffd194);
  // background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);
  position: relative;
  width: 100vw;
  height: 100vh;
}