.Details {
  font-family: 'Lato', sans-serif;
  margin: 0;
  background: linear-gradient(to right, #ee3271, #6b6b83, #4eb7c7);
  background-size: cover;
  color: #080808;
  overflow: hidden;
  height: 100vh;
  overflow-y: scroll;

  #container {
    box-shadow: 0 15px 30px 1px rgb(217, 214, 214);
    background: linear-gradient(to right, #c0c0aa, #1cefff);
    // background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
    border-radius: 5px;
    overflow: hidden;
    margin: 5em auto;
    height: 350px;
    width: 500px;
  }

  .pokemon-details {
    position: relative;
    overflow: hidden;
    padding: 30px;
    float: left;
    width: 35%;
  }

  .pokemon-details h1 {
    display: inline-block;
    position: relative;
    font-size: 30px;
    color: #344055;
    margin: 0;
    text-align: center;
    text-transform: capitalize;
  }

  .pokemon-details>p {
    text-align: center;
    font-size: 18px;
    color: #7d7d7d;
    text-align: left;
  }

  .pokemon-image {
    transition: all 0.3s ease-out;
    display: inline-block;
    position: relative;
    height: 100%;
    width: 45%;
    display: inline-block;
  }

  .pokemon-image:hover img {
    transition: all 0.3s ease-out;
  }

  .pokemon-image:hover img {
    transform: scale(1.2, 1.2);
  }

  ul li {
    transition: 0.3s ease;
    text-transform: capitalize;
  }

  ul li:hover {
    transform: translateX(50px) scale(1.3);
  }

  img {
    width: 100%;
    height: 100%;
  }

  h2 {
    text-align: left;
  }

}

@media only screen and (max-width: 500px) {
  .Details {
    #container {
      display: grid;
      box-shadow: 0 15px 30px 1px rgb(217 214 214);
      background: linear-gradient(to right, #c0c0aa, #1cefff);
      border-radius: 5px;
      overflow: hidden;
      margin: 5em auto;
      width: 90vw;
      height: auto;
    }

    .pokemon-details {
      position: relative;
      overflow: hidden;
      padding: 30px;
      float: left;
      width: auto;
      grid-row: 2;
    }

    .pokemon-image {
      transition: all 0.3s ease-out;
      position: relative;
      height: 100%;
      width: 80%;
      display: block;
      margin: auto;
      grid-row: 1;
      margin-top: 10px;
    }
  }

}