.CreatePokemonPage {
  display: flex;
  align-content: center;
  background: linear-gradient(to right, #ee3271, #6b6b83, #4eb7c7);
  height: 100vh;
}

.CreatePokemonPage button:hover {
  transform: translatey(2px);
}

.CreatePokemonPage button:active {
  transform: translatey(5px);
}


@media only screen and (max-width: 500px) {
  .CreatePokemonPage {
    // overflow-y: scroll;
    height: auto;
  }
}